.inputText {
  background: var(--color-background);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--color-border);
  font-size: inherit;
  max-width: var(--width-input);
  padding: 0.65em; /* zh: 提高触摸面积；en: larger touch target */
  width: 100%;
}

@media (min-width: 768px) {
  .inputText {
    padding: 0.5em;
  }
}
